header {
    text-align: center;
}

nav {
    display: inline;
}

nav a {
    display: inline-block;
    color: blueviolet;
    text-decoration: none;
}

.welcome {
    float: left;
}

.copyright {
    float: right;
}