.jumpLinks {
    position: fixed;
    left: 10%;
}

.jumpLinks a {
    color: black;
    text-decoration: none;
}

.jumpLinks div {
    border: 1px solid black;
    border-radius: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.floatingContext {
    position: fixed;
    left: 80%;
}

.houseContext, .actionContext {
    border: 1px solid black;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.actionContext {
    margin-top: 5px;
}

.inkTitle {
    font-size: 3em;
    font-family: Pirata One, sans-serif;
    text-align: center;
    line-height: 1em;
    color: black;
    opacity: 0.6;
}
