label {
    margin-right: 5px;
}

input[type=text], input[type=password] {
    background-color: transparent !important;
    border: none;
    border-bottom: 1px solid #000000;
}

input:focus {
    outline: none;
}