
main p {
    font-size: 2.25em;
    color: #7F3300;
    margin-top: .75em;
    text-align: justify;
}

div p:not(:first-child)::first-letter {
    float: left;
    font: 1.7em/1em Morris;
    text-shadow: 1px 1px 1px #000;
    margin: 0 .5rem;
}

.inkTitle {
    font-size: 3em;
    font-family: Pirata One, sans-serif;
    text-align: center;
    line-height: 3em;
    color: black;
    opacity: 0.6;
}

#labarum {
    width: 20%;
    margin-left: calc((100% - 20%) / 2);
    height: auto;
}

.cachet {
    /* image width = 210px and height = 250px */
    /*  5 is one common denominator 210 = 5 * 42 */
    width: calc((100vw * 5) / 42);
    height: auto; /* Height is auto ajusted */
    margin-top: 4rem;
    margin-left: auto;
}

#labarum img, .cachet img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#signature {
    text-align: right;
    color: black;
    font-size: 250%;
}